extends layouts/main
block vars
  - active__menu = 'About us'
block header
  include inc/header
block main
  .container
    section.page-header
        h1
          img(src="img/logo.svg", alt="")
          span About us
    section.page-content.aboutus
      .row
        .col.md-8
          .aboutus__header
            h2 About our Company
            p InxyAds is an advertising network with high eCPM and effective ad campaigns. We offer advertisers an appropriate traffic for each request. We provide platforms with comfortable conditions: 100% traffic buyout, safe advertising, and 24 / 7 support.
        .col.md-3.offset-md-1.aboutus__copy
          img(src="img/inxylogo.svg", alt="")
          p We are part of <a href="https://inxy.hosting/" target="_blank">INXY.COM</a>, a group of digital projects launched in 2006.
        .col.md-8
          p Since 2017 we have been confidently carrying out our mission: providing quality advertising and enabling platforms to earn money on it. We have our own platforms, and we know how it works.
          p We are part of <a href="https://inxy.hosting/" target="_blank">INXY.COM</a>, a group of digital projects launched in 2006. The group consists of web hosting on 5 continents (dedicated servers, CDN and DNS) and ad network.
          p We offer advertisers an advertising network with traffic from 192 countries from computers, smartphones, and tablets. With each client works a personal manager, who leads a campaign and monitors statistics in order to improve results.
          p We provide platform owners with effective advertising, optimized for all types of devices and screen sizes. Select the appropriate format and the service will automatically match advertisers and display settings. All advertising is checked manually to prevent the entry of prohibited content.
        .col.md-3.offset-md-1.aboutus__comment
          img(src="img/pic-1.jpg", srcset="img/pic-1@2x.jpg 2x, img/pic-1@3x.jpg 3x", alt="")
          h3 Ruslan Zholik
            small CEO
          p "Before we do something, we ask ourselves: how will this help our customers?"
        .col.md-8
          h2 Our Team
          p We have put together a solid team of enterprising leaders, exploring new technologies and capabilities, and executive responsible employees.
          p We do our best to constantly improve our knowledge, achieve better results and move forward. We are available 24/7 to solve any issues!
          p We will be glad to see you as our client.<br>InxyAds Team.
        .col.md-3.offset-md-1.aboutus__comment
          img(src="img/pic-2.jpg", srcset="img/pic-2@2x.jpg 2x, img/pic-2@3x.jpg 3x", alt="")
          h3 Oleg Pyvovarenko
            small Head of Sales
          p "We make our customers happy. We are glad that you can rely on us."
