extends layouts/main
block vars
  - active__menu = 'About us'
block header
  include inc/header
block main
  .container
    section.page-header
        h1
          img(src="img/logo.svg", alt="")
          span About us
    section.page-content
      ol
        li This Contract shall govern the relations between INXYADS (the Company) and the Customer (the Advertiser) in providing advertising services. The Company shall provide advertising services on a remuneration basis, and the Customer shall accept and pay for the same in full. The Services shall be provided upon signature of this Insertion Order throughout the period of validity hereof. Fee calculation for the advertising services is subject to CPM (cost per mile) system. 

        li Freezing, release, launch, or interruption of advertising campaigns, and alteration of the current advertising campaigns shall be subject to the Advertiser’s written request sent by e-mail, on business days only, within 48 hours after receipt (business days shall mean Monday through Friday, from 10:30 a.m. to 6.30 p.m., UTC +03.00).

        li Calculation of post impressions and other statistics shall be subject to the INXYADS system.

        li The Company’s liability shall be limited to the ad impressions number. The Company shall not be liable for the conversions received by the Advertiser. 

        li Before launching each advertising campaign, the Parties shall agree upon essential terms including ad format, impression frequency, CPM rates, countries, categories, budget, daily limits, and other targeting terms and conditions. These terms and conditions shall be established through electronic correspondence between the Advertiser and the Company. The Company shall confirm its consent to such a campaign by sending confirmation to the Advertiser via e-mail. 

        li The Company shall have a right not to place the materials inconsistent with/violate the Internet advertising law. The Advertiser shall bear all risks arising out of violation of the law in the country of ad placement. 

        li The Advertiser shall pay full damages to the Company if the advertising materials provided by the Advertiser contain viruses or other prohibited content (offensive content, including child pornography, unlawful activity (e.g. how to make a bomb, freaking, computer hacking), inciting hatred (racial, political, ethnical, religious, sexual, personal, etc.), violation, offensive or rough language, abusive content, or content that approves doing physical harm, illegal substances, misleading guidelines for making fortune, or advice on fraudulent wealth accumulation).

        li The Parties may terminate this Contract upon mutual agreement at either Party’s initiative. To that effect, the Party that decided on termination shall send the other Party a notice of termination via e-mail two (2) banking days prior to the date of termination. This Contract shall be deemed terminated upon receipt of the notice by the other Party. If terminating this Contract on its own initiative, the Advertiser shall stop all and any advertising campaigns as specified in para 2 hereof prior to sending the notice. The Company shall have a right to terminate the Advertiser’s Campaign immediately, or withdraw from this Contract by notifying the Advertiser in writing, if (i) the Advertiser’s use of the Services implies violation of law; (ii) the Advertiser’s use of the Services makes Company or third parties suffer loss or possible loss, (iii) running Campaign is inconsistent with law; (iv) the Advertiser fails to pay the amounts agreed within the time limits established; (v) the Advertiser either fails to adhere to the scope of this Contract (and such violation is material), or the Advertiser is adjudged bankrupt.

        li If this Contract is terminated on the Advertiser’s initiative, the Company shall return to the Advertiser the Advertiser’s funds remaining on the books of the Company, within one month upon termination hereof. If terminating this Contract on its own initiative, the Company shall stop all and any advertising campaigns and return the funds within one month, if such termination is not attributable to any breach of contractual obligations. The commission fee for return of funds shall be applied. 

        li The Advertiser shall sign and send this Contract via e-mail to the Company’s address.

        li This Contract signed by both Parties shall be effective upon signature by the last of the Parties for one (1) calendar year commencing from the date of signature. If neither Party declares its intention to terminate this Contract by the date of expiry hereof, this Contract shall be extended for one (1) calendar year. The Company shall reserve the right to leave open the Campaign Details hereof, to make the alterations provided by the Advertiser via e-mail throughout the period of cooperation.
