block vars
include ../inc/nav
doctype html
html(lang="ru-RU")
  include ../inc/head
  body.main__page#top
    block header
    // Main Content 
    main.maincontent
      block main
    // End Main Content 
    include ../inc/footer
    // Base Scripts 
    include ../inc/scripts